$blue: #003071;
$orange1: #FFBE95;
$orange2: #FF9B5C;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    -webkit-font-smoothing: antialiased;
    
}
:focus {
  outline: none;
}

button:hover{
  cursor: pointer;
}

body{
    background: $orange1;
    overflow-x: hidden;
}

// Nav

.splash-nav{
    display: flex;
    width: 80vw;
    color: $blue;
    font-family: 'Fibon';
    margin: 5vh auto;
    justify-content: space-between;
}

#nav-left{
    display: flex;
}

#shroomy{
    height: 50px;
    width: 50px;
    fill: white;
}

#logo{
    font-size: 48px;
    color: white;
    line-height: 1.25;
    margin-left: 10px;
}


#logout{
    border: none;
    background: none;
    font-family: 'Poppins';
    font-size: 18pt;
}

// Splash
#splash-contents{
    display: flex;
    justify-content: space-around;
}

#splash-photo{
    background: url('https://dazedprod.blob.core.windows.net/dazed-prod/1230/2/1232313.gif') no-repeat;
    height: 60vh;
    width: 50vw;
    box-shadow: 12px 12px $orange2;
    background-size: cover;
}


#splash-form {
    width: 30vw;
    height: 60vh;
    margin: auto;
    border: 2px solid $blue;
    box-shadow: 12px 12px $orange2;
}

#form-title{
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 72px;
    text-align: center;
    color: $blue;
}

#session-form{
    display: flex;
    flex-direction: column;
}

.session-header-sub{
    display: flex;
    font-family: 'Poppins';
    font-weight: 400;
    color: white;
    justify-content: center;
}

.session-form-element{
    margin: 5px 20px;
    border: 2px solid $blue;
    height: 30px;
    font-family: 'Poppins';
    font-weight: 400;
}

#session-form button{
    color: white;
    background: $blue;
}

#change-form{
    color: $blue;
}

#change-form:hover{
    text-decoration: underline;
    cursor: pointer;
}

.error-box{
    margin: auto;
    width: 80%;
}

.error-ul{
    list-style: none;
    margin: 0 8px;
}

.error-li{
    font-size: 12px;
    font-family: 'Poppins';
    font-weight: 400;
    color: $blue;
}





// Welcome Page

#welcome{
    text-align: center;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 42pt;
    color: $blue;
}

#search-form{
    text-align: center;
}

#movie-search{
    padding: 5px;
    font-family: 'Poppins';
    font-size: 24pt;
    margin: 30px;
    border: 2px solid $blue;
    width: 40vw;
}

#search-results{
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    width: 100vw;
    flex-wrap: wrap;
}

.search-result{
    width: 200px;
    margin: 23px;

}

.search-result-title{
    font-family: 'Poppins';
    text-align: center;
}

.search-result-image{
    width: inherit;
    height: 80%;
    object-fit: contain;
 
}

//Details


.movie-detail-div{
    position: absolute;
    height: 50vh;
    width: 100vw;
    background: $orange2;
    display: flex;
}

.detail-poster{
    margin-left: 5%;
}

.detail-text{
    display: flex;
    flex-direction: column;
}

.detail-title{
    font-family: 'Poppins';
    font-size: 40pt;


}

//Fonts

@font-face {
    font-family: 'Fibon';
    src: url('./Fibon_Sans_Regular.otf');
    font-style: normal
  }
  
