// Nav

.splash-nav{
    display: flex;
    width: 80vw;
    color: $blue;
    font-family: 'Fibon';
    margin: 5vh auto;
    justify-content: space-between;
}

#nav-left{
    display: flex;
    text-decoration: none;
}

#shroomy{
    height: 50px;
    width: 50px;
    fill: white;
}

#logo{
    font-size: 48px;
    color: white;
    line-height: 1.25;
    margin-left: 10px;
}

#calendar-link{
    text-decoration: none;
   
}

#calendar-link, #logout{
    color: $blue;
    border: none;
    background: none;
    font-family: 'Poppins';
    font-size: 18pt;
    margin-left: 10px;
}
